html { 
	box-sizing: border-box; 
}
*, *::before, *::after { 
	box-sizing: inherit; 
}
body {
	min-width: 1200px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Roboto",  "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}
a {
	text-decoration: none;
}
.main-header {
	background-color: #eeeeee;
	border: 1px solid transparent;
}
.wrapper {
	width:1200px;
	height:100%;
	padding: 0 20px;
	margin: 0 auto;
	overflow: visible;
}
.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	background-color: #ffffff;
}
.site-navigation,
.user-navigation {
	text-transform: uppercase;
	list-style: none;
}
.site-navigation a,
.user-navigation a {
	display: block;
	padding-bottom: 3px;
	color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
	color:rgba(0,0,0,0.3);
}
.features {
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;	
	margin: 0 0 60px 0;
	padding: 0;
	font-weight: 400;
	padding: 0;
	list-style: none;
}
.main-descr {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 50px 0 0;
}
.button {
	display: block;
	width: 160px;
	height: 50px;
	margin: 31px 0 0 0;
	padding: 15px 30px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.main-features {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	margin: 22px 50px 18px 0;
}
.features-item {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	width: 300px;
	min-height: 347px;
	margin-bottom: 20px;
}
.features-item:not(:nth-child(3n)) {
	margin-right: 100px;
}
.divide {
	width: 100%;
	height: 2px;
	margin: 0;
	background-color: #eeeeee;
}
.pingfoo {
	padding-bottom: 79px;
}
.slider a,
.contact-write a,
.price-button a {
	color: #ffffff;
	background-color: #fb565a;
}
.button-red {
	color: #ffffff;
	background-color: #fb565a;
}
.button-red:hover {
	background-color: #e74246;
}
.button-red:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.slider a:hover, 
.contact-write a:hover,
.price-button a:hover {
	background-color: #e74246;
}
.slider a:active,
.contact-write a:active,
.price-button a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-green {
	color: #ffffff;
	background-color: #00ca74;
}
.button-green:hover {
	background-color: #00bc6c;
}
.button-green:active {
	background-color: #00aa62;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-yellow {
	color: #ffffff;
	background-color: #efc84a;
}
.button-yellow:hover {
	background-color: #eab534;
}
.button-yellow:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);	
}
.main-footer {
	color: #000000;
	background-color: #ffffff;
	margin-top: 0;
}
/* Контактная информация Начало*/
.contacts {
	position: relative;
	border-bottom: 1px solid transparent;
}
.contacts-map{
	width: 100%;
	height: 416px;	
	background-image: url(../img/map-marker.png) ,url(../img/map.png);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom 50% right 35%, center;
	background-size: 10%, cover;
}
.contacts-iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border: 0;
	width: 100%;
}
.contacts-information {
	position: absolute;
	top: 52px;
	z-index: 2;
	width: 320px;
	padding: 0;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	background-color: #ffffff
}
.contacts h3 {
	margin: 0;
	margin-bottom: 23px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: #000000;	
	text-transform: uppercase;
}
.contacts p {
	color: #666666;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	margin: 20px 0 0 0;
}
.contacts .button {
	color: #ffffff;
    background-color: #fb565a;	
	width: 100%
}
.contacts-telephon {
	color: #666666;
}
/*  Контактная информация конец  */
.social-footer ul {
	list-style: none;
}
.social-footer p {
	/*margin: 0;
	padding: 0;*/
	margin-top: 39px;
	margin-left: 138px;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.social-footer span{
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
}
.social-footer a {
	color:#ffffff;
	background-color: #e1e1e1;
}
.social-footer a:hover {
	background-color: #e74246;
}
.social-footer a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.social-footer a:active svg {
  opacity: 0.3;
}
/*  Popup Напишите нам  (начало)*/
.write-us {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	max-width: 960px;
	bottom: 50%;
	left: 50%;
	margin-left: -480px;
	margin-bottom: -300px;
	z-index: 9999;
	padding: 73px 100px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}	
.write-none {
	display: none;
}
@keyframes bounce {
	0% { transform: translateY(-2000px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}
.write-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.9s;
}
@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.write-error {
	animation-name: shake;
	animation-duration: 0.6s;
}
.write-us h2 {
	margin: 0;
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}
.write {
	margin: 36px 0 0 0;
}
.form-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
	margin-bottom: 36px;
}
.form-label,
.form-input,
.form-textarea {
	display: block;
	box-sizing: border-box;
	font: inherit;
}
.form-label {
	width: 100%;
	max-width: 360px;
	margin-bottom: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #000000;
}
.form-input {
	box-sizing: border-box;
	width: 100%;
	max-width: 360px;
	margin-top: 12px;
	padding: 15px;
	font-weight: 400;
	border: solid 2px #d7dcde;
}
.form-textarea {
	width: 100%;
	height: 118px;
	margin-top: 12px;
	margin-bottom: 47px;
	padding: 15px;
	border: solid 2px #d7dcde;
	resize: none;
}
.form-submit {
	width: 260px;
	color: #ffffff;
	background-color: #fb565a;
}
.form-submit:hover,
.form-submit:focus {
	background-color: #e74246;
}
.form-submit:active {
	background-color: #d7373b;
}
.button-close {
	position: absolute;
	top: 30px;
	right: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.button-close svg {
	opacity: 0.3;
}
.button-close:hover svg,
.button-close:focus svg {
	opacity: 1;
	outline: none;
	border: none;
}
.button-close:active svg {
	opacity: 0.1;
	outline: none;
}
.form-textarea:hover,
.form-input:hover {
	border: solid 2px #b4b9bb;
}
.form-textarea:focus,
.form-input:focus {
	color: #000000;
	border: solid 2px #000000;
	outline: none;
}
.form-textarea:invalid,
.form-input:invalid {
	color: #e74246;
	background: #ffffff;
	border: solid 2px #e74246;
}
/*  Popup Напишите нам  (конец) */
/*  Страница каталога */
.filters {
	width: 260px;
}
.filters fieldset {
	border: none;
}
.filters .price {
	margin: 0;
	margin-bottom: 54px;
	padding: 0;
	border: none;
}
.filters .grid {
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	border: none;
}
.price legend, 
.grid legend {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}
.box-filter {
	width: 260px;
}
.box {
	position: relative;
	margin-bottom: 14px;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}
.line1 {
	position: absolute;
	width: 220px;
	height: 2px;
	top: 39px;
	left: 17px;
	background: #d7dcde;
}
.line2 {
	position: absolute;
	width: 60%;
	height: 2px;
	top: 39px;
	left: 17px;
	background: #00ca74;
	cursor: pointer;
}
.round-min {
	position: absolute;
	width: 20px;
	height: 23px;
	top: 29px;
	left: 17px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.round-max {
	position: absolute;
	width: 20px;
	height: 23px;
	top: 29px;
	right: 80px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.range-price {
	font-size: 0;
}
.range-price label {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-transform: uppercase;
}
.range-price input {
	width: 80px;
	margin-left: 10px;
	padding: 10px 16px;
	font-size: 16px;
	text-align: center;
	background: #f1f1f1;
	border: none;
	border-radius: 5px;
}
.range-max {
	text-align: right;
}
.price legend {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 5px;
	margin-bottom: 48px;
}
.filters label {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #283136;
}
.filters button {
	margin-top: 3px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #000000;
	background-color: #eeeeee;
	border: none;
}
/*  Сетки  */
.grid legend {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 15px;
}
.grid-item {
	padding-bottom: 16px;
}
.radio-label {
	position: relative;
	padding-left: 37px;
	cursor: pointer;
}
.radio-input + .radio-label:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left:0;
	margin-top: -4px;
	margin-right: 0;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}	
.radio-input + .radio-label:hover::before {
	opacity: 1;
}	
.radio-input:checked + .radio-label:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left:0;
	margin-top: -4px;
	margin-right: 0;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}
.radio-input:checked + .radio-label:hover::before {
	opacity: 1;
}
.radio-input:focus+.radio-label:before{
	opacity: 1;
}
/*    Особенности:   */
.checkbox-label {
	position: relative;
	padding-left: 37px;
	cursor: pointer;
}
.checkbox-input + .checkbox-label:before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: 0;
	left:0;
	margin-top: -4px;
	margin-right: 0;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity:0.4;
}	
.checkbox-input + .checkbox-label:hover::before {
	opacity: 1;
}	
.checkbox-input:checked + .checkbox-label:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: 0;
	left:0;
	margin-top: -4px;
	margin-right: 0;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity:0.4;
}
.checkbox-input:checked + .checkbox-label:hover::before {
	opacity: 1;
}
.checkbox-input:focus + .checkbox-label:before {
	opacity: 1;
}
.filters-button {
	width: 100%;
	height: 50px;
	color: #000000;
	background-color: #eeeeee;
	border: none;
	cursor: pointer;
}
/*    Особенности:   конец */
.list-templates ul {
	list-style: none;
}
/*    Пагинация   Начало */
.pagination-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	padding: 0;
	margin: 0;
	height: 50px;
	margin-top: 30px;
}
.pagination-item {
	width: 50px;
	height: 50px;
	margin-right: 12px;
}
.pagination-list a {
	color: black;
    float: left;
    font-weight: 700;
    padding: 11px 19px;
    text-decoration: none;
    margin: 0;
    background: #eeeeee;
    border: 2px solid transparent;
}
.next a {
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 14px 75px;
	border: 2px solid transparent;
}
.pagination-list a:hover {
	background: #dfdfdf;
}
.pagination-list a:active {
	color: #959595;
	background: #d5d5d5;
	box-shadow: 0 5px 0 #bfbfbf inset;
}
.active a{
	border: 2px solid #dbdbdb;
	background: #ffffff;
}
/*    Пагинация   Конец */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;	
}
/*  Сеточные стили  */
.main-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: flex-start;
	background-color: transparent;
	padding-top: 49px;
}
.logo {
	display: block;
	width:160px;
	height: 65px;
}
a:hover img {
	opacity: 0.8;
}
a:active img {
	opacity: 0.3;
}
.site-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;	
	margin: 0;
	padding: 0;
	width: 440px;/**/
	margin-left: 200px;
	padding-top: 20px;
	align-items: center;
}
.site-navigation .link-active {
	border-bottom: 2px solid #fb565a;
}
.user-navigation {
	margin: 0;
	padding: 0;
	margin-left: auto;
	padding-top: 25px;
	width: 115px;
}
.user-navigation li{
	position: relative;	
	text-align: right;
}
.basket-link:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 7px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.social-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	align-items: center;	
	margin-top: 29px;
	min-height: 160px;
}
.social-list {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: space-between;
	align-items: center;
	width: 260px;
	margin: 0;
	padding: 0;	
}
.social-button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;	
	width: 79px;
	height: 79px;
	justify-content: center;
	border: none;
	border-radius: 50%;
	cursor: pointer;	
	background: #e1e1e1;
}
.catalog-titul {
	margin-top: 78px 0 0 0;
	padding-bottom: 107px;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
	text-align: center;
	color: #000000;
}
.page-wrapper {
	display: flex;
	justify-content: space-between;
}
/*  Сортировка Начало*/
.sorting-templates {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-transform: uppercase;
	margin-bottom: 53px;
}
.sorting-group {
	margin: 0;
	padding:0;
}
.sorting-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.sorting-item a {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	margin-right: 26px;
	color: #000000;
	opacity: 0.3;
}
.sorting-item:last-child {
	margin-left: 16px;
}
.sorting-item:last-child a{
	margin: 0px;
}
.sorting-item:last-child a:first-child {
	margin-right: 18px;
}
.sorting-item a:hover {
	opacity: 0.6;
}
.sorting-item a:active {
	opacity: 1;
}
/*  Сортировка Конец*/
.list-templates {
	width: 760px;
}
.templates-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding:0;
	font-size: 0;
	line-height:0;
}
.templates-image1 {
	display: block;
}
.templates-item {
	position: relative;
	flex-basis: 360px;
	margin-top: 40px;
	margin-bottom: 33px;
	padding: 0;
	background-color: red;
}
.templates-item::before {
	position: absolute;
	content: url(../img/browser.svg);
	top:0;
	left:0;
	margin-top: -39px;
	opacity: 0.12;
}

.catalog-page {
	padding-top: 55px;
	margin-bottom: 61px;
}
.item-price {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #eeeeee;
	padding-left: 65px;
	padding-right: 65px;
	padding-bottom: 40px;
	padding-top: 35px;
	text-align: center;
	opacity: 0;
}
.templates-item:hover .item-price,
.templates-item:focus .item-price {
	opacity: 1;
}
.templates-item:hover::before,
.templates-item:focus::before {
	opacity: 1;
}S
.item-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}
.item-title:hover,
.item-title:focus {
	color: #fb565a;
}
.item-title:active {
	color: #b2b2b2;
	opacity: 1;
}

.item-price p {
	margin: 0;
}
.item-text {
	font-size: 16px;
	line-height: 18px;
	padding: 25px 0;
	color: #666666;
}
.item-price .button {
	margin: auto;
	color: #ffffff;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding-top: 15px;
	border-radius: 4px;
	border: 2px solid transparent;
	text-transform: uppercase;
}
.item-price .button:hover,
.item-price .button:focus {
	background-color: #e74246;
}


/*  Стили секции partners (начало) */
.partners {
	margin: 0;
	padding: 0;
	padding-top: 45px;
	padding-bottom: 37px;
}
.partners-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.partners-item {
	position: relative;
	width: 300px;
	padding: 0 40px;
}
.partners-item:nth-child(1) {
	width: 281px;
	padding-top: 11px;
	padding-left: 31px;
}
.partners-item:nth-child(2) {
	padding-top: 1px;
	padding-left: 45px;
}
.partners-item:nth-child(3) {
	padding-left: 57px;
}
.partners-item:nth-child(4n) {
	width: 250px;
	padding-top: 7px;
	padding-right: 0;
	padding-left: 63px;
}
.partners-item:not(:nth-child(4n))::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 2px;
	height: 52px;
	margin-top: -26px;
	background-color: #cccccc;
}
.partner {
	display: block;
	opacity: 0.2;
}
.partner:hover,
.partner:focus {
	opacity: 1;
}
.partner:active {
	opacity: 0.1;
}
/*  Стили секции .main-aboutus  */
.about-us {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 49px;
}
.us {
	flex-basis: 655px;
	width: 100%;
	padding-top: 34px;
}
.us-slogan {
	margin: 0;
	margin-bottom: 33px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}
.us-subtitle {
	margin-top: 0;
	margin-bottom: 39px;
}
.us-title {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.us-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.us-item {
	position: relative;
	margin-bottom: 24px;
	padding-left: 36px;
}
.us-item::before {
	content: "";
	position: absolute;
	top: 45%;
	left: 0;
	display: block;
	width: 25px;
	height: 2px;
	background: #d7373b;
}
.accuracy {
	flex-basis: 360px;
	width: 100%;
}
.accuracy-logo {
	margin-bottom: 29px;
}
.accuracy-title {
	margin: 0;
	margin-bottom: 50px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}
.accuracy-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
.accuracy-item {
	width: 105px;
	margin-right: 14px;
	font-weight: 700;
	font-size: 45px;
	text-align: left;
	color: #000000;
}
.accuracy-item .percent {
	font-size: 26px;
}
.accuracy-item span {
	display: block;
	margin-top: 31px;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.13;
	color: #283136;
}
/*Секции slider (начало) */
.slider {
	position: relative;
	margin-bottom: 80px;
	background-color: #eeeeee;	
}
.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.slider-item {
	display: none;
	padding: 76px 0 80px 0;
	min-height: 413px;
}
.slider-first {
	display: block;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;	
}
.slider-second {
	display: none;
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.slider-third {
	display: none;
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}
.slide-slogan {
	max-width: 523px;
	margin: 0;
	margin-bottom: 26px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}
.slide-discription {
	max-width: 430px;
	margin: 0;
	margin-bottom: 39px;
}
.slider-item a {
	color: #ffffff;
	background-color: #fb565a;
	margin-left: 0;
	width: 240px;
	height: 50px;
}
.slider-controls {
	position: absolute;
	left: 50%;
	margin-left:-50px;
	bottom: 90px;
}
.slider-controls label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 17px;
	width: 18px;
	height: 18px;
	border: 4px solid white;
	border-radius: 50%;
	background-color: #ffffff;
	cursor: pointer;
	transition: background-color 0.5s;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background-color: #666666;
}