html { box-sizing: border-box; }
*::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	
	background-color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
}
.site-navigation a:hover,
.user-navigation a:hover {
	color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
	color:rgba(0,0,0,0.3);
}

.features {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
}
  
.features ul{
	padding: 0;
	list-style: none;
}

.main-features{
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
}
.web-feature,
.mobile-feature,
.presentation-feature {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}
.web-feature a {
	color: #ffffff;
	background-color: #fb565a;
}
.web-feature a:hover {
	background-color: #e74246;
}
.web-feature a:active {
	background-color: #d7373b;
}

.mobile-feature a {
	color: #ffffff;
	background-color: #00ca74;
}
.mobile-feature a:hover {
	background-color: #00bc6c;
}
.mobile-feature a:active {
	background-color: #00aa62;
}

.presentation-feature a {
	color: #ffffff;
	background-color: #efc84a;
}
.presentation-feature a:hover {
	background-color: #eab534;
}
.presentation-feature a:active {
	background-color: #e5a722;
}

.main-footer {
	color: #000000;
	
	background-color: #ffffff;
}
.main-footer strong{
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.main-footer span{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.social-footer ul {
	list-style: none;
}
.social-footer a {
	color:#ffffff;
	background-color: #e1e1e1;
}
.social-footer a:hover {
	background-color: #e74246;
}
.social-footer a:active {
	background-color: #d7373b;
}

.write-us {
	color: #000000;
	
	background-color: #ffffff;	
}
.write-us h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}
.write-us label {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}
.write-us input[type="text"],
.write-us input[type="email"],
.write-us textarea
 {
	color: #d7dcde;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
	outline: none; 
}
.write-us input[type="text"]:hover,
.write-us input[type="email"]:hover,
.write-us textarea:hover {
	color: #d7dcde;
	background-color: #ffffff;
	border: 2px solid #b4b9bb;
}
.write-us input[type="text"]:focus,
.write-us input[type="email"]:focus,
.write-us textarea:focus {
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #000000;
}
.write-us input:invalid:not(:placeholder-shown) {
	color: #e74246;
	background-color: #ffffff;
	border-color: #e74246;
}
.write-us button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	
	color: #ffffff;
	background-color: #fb565a;
	border: none;
}
/* Страница каталога*/
.catalog-page h1 {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;	
	color: #000000;
}
.filters fieldset {
	border: none;
}
.filters legend {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}
.filters label {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	
	color: #283136;
}
.filters button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	
	color: #000000;
	background-color: #eeeeee;
	border: none;
}
.list-templates ul {
	list-style: none;
}
/*---------------------------*/
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
/* ----------------- Сеточные стили ----------------------------- */
html,
body {
  min-width: 1440px;
  min-height: 2476px;
}
.main-header {
	min-height: 545px;
	margin-bottom: 80px;
	background-color: #eeeeee;	
}
.main-navigation {
	display: flex;
	background-color: transparent;		
}
.main-header-logo {
	display: inline-block;
	width:160px;
	height: 65px;
	margin-top: 49px;
	margin-left: 140px;
}
.main-navigation a:hover img {
	opacity: 0.8;
}
.main-navigation a:active img {
	opacity: 0.3;
}

.site-navigation {
	margin: 0;
	padding: 0;
	width: 440px;
	margin-top: 81px;
	margin-left: 202px;	
}
.user-navigation {
	margin: 0;
	padding: 0;
	width: 75px;
	margin-top: 81px;
	/*margin-left: 285px;	*/
	margin-left: auto;	
	margin-right: 140px;
}
.features {
	width: 1100px;
	min-height: 855px;
	margin-left: 140px;
}
.features-list {
	display: flex;	
	justify-content: space-between;
	margin:0;
	padding: 0;
}
.features-item {
	width: 300px;
}
.main-footer {
	margin-top: 70px;
	height: 150px;
}
.social-footer{
	margin-left: 140px;
	display: flex;	
}
.social-item {	
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	padding: 0;	
}
.social-item li {
	width: 80px;
	height: 80px;
}
.social-footer p {
	margin: 0;
	padding: 0;
	width: 542px;/**/
	margin-left: 140px;
}
/*---------------------------------------------------*/
.catalog-header {
	margin: 0;
	padding: 0;
	height: 355px;
	background-color: #eeeeee;	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.catalog-header h1 { 
	order: 1;
	width: 720px;
	align-items: center;
	margin-top: 100px;
}
.navigation-wrapper {
	width: 100%;
	height: 65px;
}
.filters {
	width:360px;
	margin-left: 140px;
}
.list-templates {
	width: 760px;
	margin-left: 140px;
	padding:0;
}
.templates-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding:0;	
}
.templates-item li {
	margin-bottom: 35px;
}

.catalog-page {
	display: flex;
}